node_modules
dist
build
.turbo
*.local
.DS_Store
*.log
coverage
.vite
apps/extension/dist
apps/browser/.chromium-root
apps/browser/depot_tools/
apps/browser/overlay/third_party/aegis_policy/easylist_compiled.json
packages/core/dist-worker
*.crx
*.zip
.env
.env.*
!/.env.example
